<h1>Your Redbox Cart</h1>

<% if $cart %>
	<% $cart.each do |item| %>
		<p><%= item %></p>
		<p>Price: $0.99</p>
	<% end %>
<% end %>

<form action='/cart' method='POST'>
	<button>Checkout</button>
</form>

<div>
  <img src="http://res.cloudinary.com/goodsearch/image/upload/v1412722274/hi_resolution_merchant_logos/redbox_coupons.jpg" class = 'logo' alt = 'logo' />
</div>

<div>
	<img src="https://www.sweettoothrewards.com/wp-content/uploads/Shopping-Cart.png" class = 'cart' alt = 'cart' />
</div>
