<h1>Your Redbox Cart</h1>

<% if $cart %>
	<% $cart.each do |item| %>
		<p><%= item %></p>
		<p>Price: $0.99</p>
	<% end %>
<% end %>


<form action='/' method='POST'>
	<button>Clear Cart</button>
</form>


<form action='/cart' method='POST'>
	<button>Checkout</button>
</form>