<h1>Redbox Menu</h1>
<hr />

<ol>
  <li>
    <a href='/titles'>Titles</a>
  </li>
  <li>
    <a href='/search'>Search</a>
  </li>
  <li>
    <a href='http://www.imdb.com' target='_blank'>IMDB</a>
  </li>
  <li>
  	<a href='/cart'>View Cart</a>
  </li>
</ol>