<h1>Search Available Titles</h1>

<hr>

<form action='/search' method='POST'>
  <input type='text' name='title' />
  <input type='submit' />
</form>

<% if @yes_result %>
	<p><%= @yes_result %></p>
	<p>Year: <%= @movie_year %></p>
	<p>Rating: <%= @movie_rating %></p>


	<button><a href='/cart'>Add to cart</a></button>


<% else %>
	<p>Out of Stock</p> 
<% end %>


<div>
	<a href='/'>Home</a>
</div>
