<h1>Titles</h1>
<ul>
	<% $list.titles.each do |title| %>
		<li><%= title[:name] %></li>
	<% end %>
</ul> 
</div>


<div>
	<image src ='http://ia.media-imdb.com/images/M/MV5BMjU4NDExNDM1NF5BMl5BanBnXkFtZTgwMDIyMTgxNzE@._V1_UY1200_CR90,0,630,1200_AL_.jpg' class = 'revenant' alt = 'revenant'/>
</div>

<div>
	<img src="http://www.impawards.com/intl/ireland/2015/posters/room.jpg" class = 'room' alt = 'room' />
</div>

<div>
	<img src="http://ecx.images-amazon.com/images/I/518F2xty7cL._AC_UL320_SR216,320_.jpg" class = 'mad_max' alt = 'mad_max' />
</div>

<div>
	<img src="http://www.impawards.com/2015/posters/bridge_of_spies.jpg" class = 'bridge' alt = 'bridge' />
</div>

<div>
	<img src="http://www.impawards.com/2015/posters/spotlight.jpg" class = 'spotlight' alt = 'spotlight' />
</div>

<div>
	<img src="https://trailers.apple.com/trailers/fox/themartian/images/poster-large.jpg?lastmod=1" class = 'martian' alt = 'martian' />
</div>

<div>
	<img src="http://ia.media-imdb.com/images/M/MV5BMjE0NTA2MTEwOV5BMl5BanBnXkFtZTgwNzg4NzU2NjE@._V1_SX640_SY720_.jpg" class = 'steve' alt = 'steve' />
</div>

<div>
	<img src="http://cdn1-www.comingsoon.net/assets/uploads/gallery/brooklyn/poster-43c98278-5831-45e4-9eb0-304617abca97.jpg" class = 'brooklyn' alt = 'brooklyn' />
</div>

<div>
	<img src="http://ecx.images-amazon.com/images/I/81Hza5BCm1L._SL1500_.jpg" class = 'furious' alt = 'furious' />
</div>

<div>
	<img src="https://lh3.googleusercontent.com/-vZnG88zaz4E/VkYrejMXbHI/AAAAAAAACg0/HyfRpUXX504/s1561-Ic42/big-short-movie-poster-2.jpgg" class = 'big_short' alt = 'big_short' />
</div>


<div>
  <img src="http://res.cloudinary.com/goodsearch/image/upload/v1412722274/hi_resolution_merchant_logos/redbox_coupons.jpg" class = 'logo' alt = 'logo' />
</div>

<!-- <body background="http://thumbs.dreamstime.com/z/film-strip-movie-theme-element-15439518.jpg"> -->

